* {
    background-color: #ffe8d6;
}
h1 {
    color: #7f5539;
    font-size: 3rem;
    font-family: cursive;
    text-align: center;
}

h3 {
    color: #cb997e;
    font-style: italic;
    text-align: center;
}

#links {
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
a {
    text-decoration: none;
    color:#cb997e;
    margin: 1%;
}
a:hover {
    text-decoration: underline;
}

h2 {
    font-size: xx-large;
    font-weight: 600;
}

#info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1%;
}

.knowledge {
    color: #6b705c;
    font-family: sans-serif;
    flex-direction: column;
    border: 2px solid #ddbea9;
    border-radius: 2%;
    margin: 2%;
    padding: 1%; 
    flex: 50%;
}
ul {
    font-size: larger;
}

p{
    font-style: italic;
}

#ending {
    color: #ddbea9;
    margin: 2%;
    padding-bottom: 2%;
}
