* {
    background-color: #fadde1;
}
h1 {
    color: #590d22;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h3 {
    color: #590d22;
    font-style: italic;
    text-align: center;
}

#links {
    text-align: center;
    font-size: x-large;
    
}
a {
    text-decoration: none;
    color:#ff5d8f
}
a:hover {
    text-decoration: underline;
}

p {
    color: #590d22;
    font-weight: lighter;
    font-size: larger;
    font-family: sans-serif;
    line-height: 2;
    border: 3px dashed #fbb1bd;;
    margin: 1%;
    padding: 3%;
}

h2 {
    color: #590d22;
    border: 2px solid #ff87ab;
    display: inline-block;
    margin: 1%;
    padding: 1%;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#NY {
    width: 500px;
}

#London {
    width: 500px;
}