* {
    background-color: #fadde1;
}
h1 {
    color: #590d22;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h3 {
    color: #590d22;
    font-style: italic;
    text-align: center;
}

#links {
    text-align: center;
    font-size: x-large;
    
}
a {
    text-decoration: none;
    color:#ff5d8f
}
a:hover {
    text-decoration: underline;
}

h2 {
    text-decoration: underline double;
    font-size: 2rem;
    margin: 1%;
}

#projects {
    font-family: sans-serif;
}

img {
    width: 450px;
    margin: 2%;;
}

.project {
    border: 2px solid #590d22;
    font-size: x-large;
    font-weight: lighter;
    line-height: 1.5;
    margin: 1%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    
}




